<a class="scroll-item" id='about'>
  <div class="wrapper-about">
    <div class="title-about">
      <h2>ABOUT ME</h2>
        <%= image_tag("me.jpg", class: 'avatar') %>
        <p> I can design and implement custom websites for your business or personal portfolio.
        You can automate your interactions with your customers via personalised backend implementations. Whether your customers are on desktop or on mobile.</p>
        <!-- I have a passion for web design and love to create for web and mobile devices. -->
    </div>
    <div class="container-about">
      <div id="left">
        <ul class="skills-bar-container">
          <span class="percent"></span>
          <li>
            <label>HTML5 / CSS3 </label>
            <span class="progressbar progressblue" id="progress-htmlcss"></span>
          </li>
          <span class="percent"></span>
          <li>
            <label>JavaScript</label>
            <span class="progressbar progressblue" id="progress-js"></span>
          </li>
          <span class="percent"></span>
          <li>
            <label>React</label>
            <span class="progressbar progressblue" id="progress-react"></span>
          </li>
          <span class="percent"></span>
          <li>
            <label>Ruby / Rails</label>
            <span class="progressbar progressblue" id="progress-ruby"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</a>
