<div class="container">
  <div id='top' class="navbar">
    <ul>
      <a href="#home"><li>Home</li></a>
            <a href="#work"><li>Work</li></a>
            <a href="#skills"><li>Skills</li></a>
            <a href="#about"><li>About</li></a>
            <a href="#contact"><li>Contact</li></a>

    </ul>
  </div>
  <a class="scroll-item" id='home'>
    <h1>Home</h1>
  </a>

  <a class="scroll-item" id='work'>
    <h1>Work</h1>
  </a>

  <a class="scroll-item" id='skills'>
    <h1>Skills</h1>
  </a>

  <a class="scroll-item" id='about'>
    <h1>About</h1>
  </a>

  <a class="scroll-item" id='contact'>
    <h1>Contact</h1>
  </a>

</div>



<div class="hidden-code">

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript">
// Select all links with hashes
$('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 800 );
      }
    }
  });
        </script>

    </div>
