@import "components/fonts";

.main {
  width: 100%;
  height: 100%;
  // background: linear-gradient(to bottom right, rgba(244, 201, 173,0.6), rgba(0,0,0,0)), url('https://images.unsplash.com/photo-1542546068979-b6affb46ea8f?ixlib=rb-1.2.1&auto=format&fit=crop&w=2734&q=80');
  // background: linear-gradient(to bottom right, rgba(0,0,0,0.99),rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1529338296731-c4280a44fc48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80');
  // background: linear-gradient(to bottom right, rgba(0,0,0,0.8),rgba(0,0,0,0.1)), url('https://images.unsplash.com/photo-1554412661-828c8d34bb9c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1712&q=80');
  background: linear-gradient(to bottom right, rgba(0,0,0,0),rgba(0,0,0,0)), url('https://images.unsplash.com/photo-1472437774355-71ab6752b434?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80');
  // background: linear-gradient(to bottom right, rgba(0, 0, 0,0.3),rgba(0,0,0,0.1)), url('https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80');
  background-position: fit;
  background-position: top;
  background-size: cover;
}

.wrapper {
  width: 35%;
  height: 30%;
  margin-left: 15%;
  margin-top: 18%;
  // margin-bottom: 0;
  // margin-right: 15%;
  background: transparent;
  // background: rgba(0,0,0,0.1);
  // border: 1px solid white;
  // height: 85%;
  // box-shadow: 0px -2px 10px 1px rgba(92,91,92,1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  margin-bottom: 13%;
  }
.name h2{
  color: #2a3038;
  margin: 10px;
  height: 45px;
  line-height: 1.3;
  font-size: 45px;
  font-weight: bolder;
}

.description p{
  width: 75%;
  color: #2a3038;
  margin: 10px;
  height: 100px;
  line-height: 1.1;
  font-weight: lighter;
  font-size: 20px;
}

/////
.container-scroll {
  line-height: 2;
  width: 30%;
  margin-left: auto;
  position: relative;
  // width: 24px;
  // height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chevron {
  position: absolute;
  left: 49%;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #161a1e;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text-scroll {
  display: block;
  line-height: 5;
  // margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #161a1e;
  margin-top: 10px;
  // text-shadow: 1px 0px 1px rgba(0,0,0,0.8)
;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
