// @import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import "components/fonts";

body {
  background-color: #eaeaea;
}

.carousel-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  flex-direction: column;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}
.title {
  padding: auto;
  line-height: 4;
  color: #2a3038;
  font-size: 26px;
  font-weight: bolder;
}

.carousel {
  margin-top: -120px;
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 850px;
  max-height: 500px;
  overflow: hidden;
  position: relative;
  // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.carousel-item__container {
  height: 50%;
}

.carousel-item {
  visibility:visible;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  -webkit-align-items: center;
  -webkit-justify-content: flex-end;
  position: relative;
  background-color: #fff;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  position: absolute;
  z-index: 0;
  transition: 0.6s all linear;
}

.carousel-item__info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  order: 1;
  left: 0;
  margin: auto;
  padding: 0 40px;
  width: 40%;
}

.carousel-item__image {
  width: 60%;
  height: 100%;
  order: 2;
  align-self: flex-end;
  flex-basis: 60%;

  -webkit-order: 2;
  -webkit-align-self: flex-end;
  -webkit-flex-basis: 60%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
}

.carousel-item__subtitle {
  // font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 10px;
  text-transform: uppercase;
  margin: 0;
  color: #7E7E7E;
  font-weight: 700;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s all ease-in-out;
}

.carousel-item__title {
  margin: 15px 0 0 0;
  font-family: $headers-font;
  font-size: 44px;
  line-height: 45px;
  letter-spacing: 3px;
  font-weight: 700;
  color: #2a3038;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
}

.carousel-item__description {
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
  margin-top: 35px;
  font-family: $body-font;
  font-size: 13px;
  color: #2a3038;
  line-height: 22px;
  margin-bottom: 35px;
}

.carousel-item--1 .carousel-item__image{
  background-image: asset-url('macbook1.png');
  background-size: contain;
  // z-index: 5;
}

.carousel-item--2 .carousel-item__image{
  background-image: asset-url('macbook.png');
  background-size: contain;

}

.carousel-item--3 .carousel-item__image{
  background-image: asset-url('macbook2.png');
  background-size: contain;
}

// .carousel-item--4 .carousel-item__image{
//   background-image: url('https://images.pexels.com/photos/1008732/pexels-photo-1008732.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
// }

// .carousel-item--5 .carousel-item__image{
//   background-image: url('https://images.pexels.com/photos/1029614/pexels-photo-1029614.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
// }

.carousel-item__btn {
  width: 35%;
  color: #2C2C2C;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 11px;
  text-transform: uppercase;
  margin: 0;
  width: 35%;
  font-weight: 700;
  text-decoration: none;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
}

.carousel__nav {
  position: absolute;
  right: 44%;
  z-index: 2;
  background-color: #fff;
  bottom: 0;
}

.carousel__icon {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  fill: #E88584;
}

.carousel__arrow {
  cursor: pointer;
  display: inline-block;
  padding: 11px 15px;
  position: relative;

}

.carousel__arrow:nth-child(1):after {
  content:'';
  right: -3px;
  position: absolute;
  width: 1px;
  background-color: #E88584;
  height: 14px;
  top: 50%;
  margin-top: -7px;
}

.active{
  z-index: 1;
  display: flex;
  visibility:visible;
}

.active .carousel-item__subtitle, .active .carousel-item__title, .active .carousel-item__description,.active .carousel-item__btn {
  transform: translateY(0);
  opacity: 1;
  transition: 0.6s all ease-in-out;
  visibility: visible;
}

.active .carousel-item__image{
  transition: 0.6s all ease-in-out;
  transform: translateX(0);
}

//Button
.card-btn {
  font-family: $body-font;
  text-transform: uppercase;
  font-size: 13px;

  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
  border: 1px solid #E88584;
  border-radius: 8px;
  // height: 2.8rem;
  width: 10em;
  padding: 8px 13px;
  outline: none;
  overflow: hidden;
  color: #E88584;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  // line-height: 250%;
  &::before{
    // content:'';
    border-radius: 50%;
    display: block;
    padding: 8px 13px;
    width: 10em*2;
    height: 2.8rem*2;
    line-height: 10em*2;
    left: -10em/2;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  }
  &:hover{
    color: #fff;
    background: #E88584;
    &::before{
    box-shadow:inset 0 0 0 10em rgba(#E88584,1);
    }
  }
}

