// @import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import "fonts";

#work {
  background: white;
}

.carousel-wrapper {
  margin-top: 15%;
  padding: 0;
  width: 100%;
  height: 85%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  flex-direction: column;
  -webkit-justify-content: center;
  // align-items: center;
  // -webkit-align-items: center;
}

.btns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.title {
  width: 70%;
  margin-top: 0;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
  line-height: 1.5;
  color: #414042;
  font-size: 26px;
  font-weight: bolder;
  // margin-bottom: 10%;
}

.carousel {
  // margin-top: -120px;
  width: 100%;
  height: 100%;
  display: flex;
  // max-width: 850px;
  // max-height: 500px;
  // justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.carousel-item__container {
  width: 100%;
  height: 85%;
  margin-top: 0;
}

.carousel-item {
  visibility:visible;
  // display: flex;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 100%;
  // justify-content: center;
  // -webkit-align-items: center;
  // -webkit-justify-content: center;
  position: relative;
  background-color: #fff;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  position: absolute;
  z-index: 0;
  transition: 0.6s all linear;
}

.carousel-item__info {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  order: 1;
  left: 0;
  margin-top: 0;
  // padding: 0 40px;
  // width: 40%;
}

.carousel-item__image {
  align-items: center;
  width: 100%;
  height: 50%;
  margin-top: 0;
  order: 2;
  // align-self: center;
  flex-basis: 60%;

  -webkit-order: 2;
  -webkit-align-self: flex-end;
  -webkit-flex-basis: 60%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  transform: translateX(-100%);
  transition: 0.6s all ease-in-out;
}

.carousel-item__subtitle {
  letter-spacing: 3px;
  font-size: 10px;
  text-transform: uppercase;
  margin: 0;
  color: #7E7E7E;
  font-weight: 700;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s all ease-in-out;
}

.carousel-item__title {
  margin: 15px 0 0 0;
  font-family: $body-font;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1.5;
  font-weight: 700;
  color: #414042;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
  margin-bottom: 5%;
}

.carousel-item__description {
  width: 80%;
  height: auto;
  margin: 15px auto 20px auto;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
  font-family: $headers-font;
  font-size: 16px;
  font-weight: lighter;
  color: #414042;
  line-height: 2;
    p {
      padding: 15px auto 0 auto;
    }
}

.carousel-item--1 .carousel-item__image{
  background-image: asset-url('macbook1.png');
  background-size: contain;
}

.carousel-item--2 .carousel-item__image{
  background-image: asset-url('macbook.png');
  background-size: contain;

}

.carousel-item--3 .carousel-item__image{
  background-image: asset-url('macbook2.png');
  background-size: contain;
}

.carousel-item__btn {
  width: 35%;
  color: #2C2C2C;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 11px;
  text-transform: uppercase;
  margin: 0;
  width: 35%;
  font-weight: 700;
  text-decoration: none;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
}

.carousel__nav {
  position: absolute;
  align-self: center;
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: auto;
  // align-items: center;
  // right: 44%;
  z-index: 2;
  background-color: #fff;
  bottom: 0;
}

.carousel__icon {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  fill: #E88584;
}

.carousel__arrow {
  cursor: pointer;
  display: inline-block;
  padding: 11px 15px;
  position: relative;

}

.carousel__arrow:nth-child(1):after {
  content:'';
  right: -1px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 1px;
  background-color: #E88584;
  height: 14px;
  top: 50%;
  margin-top: -7px;
}

.active{
  z-index: 1;
  display: flex;
  visibility:visible;
}

.active .carousel-item__subtitle, .active .carousel-item__title, .active .carousel-item__description,.active .carousel-item__btn {
  transform: translateY(0);
  opacity: 1;
  transition: 0.6s all ease-in-out;
  visibility: visible;
  margin-top: 0;
}

.active .carousel-item__image{
  transition: 0.6s all ease-in-out;
  transform: translateX(0);
}

//Button
.card-btn {
  font-family: $body-font;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
  border: 1px solid #E88584;
  border-radius: 8px;
  // height: 2.8rem;
  width: 8em;
  padding: 8px 13px;
  outline: none;
  overflow: hidden;
  color: #E88584;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  // line-height: 250%;
  &::before{
    // content:'';
    border-radius: 50%;
    display: block;
    padding: 8px 13px;
    width: 10em*2;
    height: 2.8rem*2;
    line-height: 10em*2;
    left: -10em/2;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  }
  &:hover{
    color: #fff;
    background: #E88584;
    &::before{
    box-shadow:inset 0 0 0 10em rgba(#E88584,1);
    }
  }
}

// Smallest device
@media (max-width: 399px) {
  .title {
    margin-top: 2%;
  }
  .btns {
    width: 43vh;
    margin-left: auto;
    margin-right: auto;
  }
  .card-btn {
    font-size: 13px;
  }
  .carousel-item__title {
    margin-bottom: 1%;
  }
  .carousel-item__image {
    height: 55%;
  }
}

// medium device
@media (min-width: 420px) and (max-width: 779px) {
    .title {
      margin-top: 2%;
    }
    .btns {
      width: 50vh;
    }
    .card-btn {
      font-size: 13px;
    }
    .carousel-item__title {
      margin-bottom: 1%;
    }
    .carousel-item__image {
      height: 55%;
    }
}

// larger device
@media (min-width: 780px) and (max-width: 1023px) {
  .title {
    margin-top: -6%;
    margin-bottom: 1%;
  }
  .btns {
    width: 50vh;
  }
  .card-btn {
    font-size: 13px;
  }
  .carousel-item__title {
    margin-bottom: 1%;
  }
  .carousel-item__image {
    height: 57%;
  }
}

// extra-larger device
@media (min-width: 1024px) {
  .title {
    margin-top: -8%;
    margin-bottom: 1%;
  }
  .btns {
    width: 50vh;
  }
  .card-btn {
    font-size: 14px;
  }
  .carousel-item__title {
    margin-bottom: 1%;
  }
  .carousel-item__image {
    height: 65%;
  }
  // .carousel-item__description {
  //   margin: 15px auto 10px auto;
  // }
}

