@import "components/fonts";

//social side navbar:
.social ul {
  position: fixed;
  top: 50%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
  z-index: 10;
}

.social ul li {
  position: relative;
  display: inline-flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  margin: 0 0 8px 0;
  padding: 0 0 0 3px;
  color: white;
  cursor: pointer;
  height: 38px;
  overflow: hidden;
/*   z-index: 1; */
}

.social ul li i.fa {
  font-size: 1.3rem;
  width: 36px;
  text-align: center;
  position: relative;
  opacity: 0.85;
  top: 0.04em;
  color: white;
  z-index: 1;
}

.social ul li i.fa.fa-github {
  font-size: 1.3em;
}

.social ul li i.fa.fa-paper-plane {
  font-size: 1.2em;
}

.social ul li i.fa.fa-info {
  font-size: 1.45em;
}

.social ul li span {
  font-size: 13px;
  font-family: $body-font;
  transform: translate(0, -50%);
  top: 50%;
  left: 36px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  padding: 0 0 0 0;
}

.social ul li:hover {
  background: rgba(0, 0, 0, 0.6);
   transition: all 0.18s ease-out;
}

.social ul li:hover span {
  visibility: visible;
  opacity: 1;
  transition-delay: 90ms;
}

.social ul li:hover i {
  opacity: 1;
}

.social ul li:hover i.fa-github {
  color: #ea4c89;
}

.social ul li:hover i.fa-linkedin {
  color: #80A38C;
}

.social ul li:hover i.fa-google-plus {
  color: #fedd31;
}

.social ul li:hover i.fa-info {
  color: #80A38C;
}

.social ul li:hover i.fa-paper-plane {
  color: #fedd31;
}

.social ul.wall {
  align-items: flex-end;
  right: 0;
}

.social ul.wall li {
  width: 40px;
  border-radius: 22px 0 0 22px;
}

.social ul.wall li:hover {
  width: 110px;
  transition: all 0.18s ease-out;
}

.wall a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
    &:hover {
      // color: ;
    }
}

.wall h1 {
  font-size: 15px !important;

}
//social side navbar
