@import "components/fonts";

// #FEDCC8

#about {
  overflow: auto;
  background: white;
}

.avatar {
  width: 18vh;
  height: 18vh;
  border-radius: 150%;
  object-fit: cover;
}

.title-about {
  margin-top: 5%;
  line-height: 2;
  color: #414042;
  font-size: 26px;
    p {
      font-family: $headers-font;
      width: 79%;
      color: #414042;
      margin-left: auto;
      margin-right: auto;
      line-height: 1.4;
      font-weight: lighter;
      font-size: 68%;
      margin-bottom: 10px;
    }
}

.wrapper-about {
  background: white;
  width: 100.1%;
  height: 100.1%;
  display: flex;
  justify-content: center;
  align-items: top;
  flex-direction: column;
}

.container-about {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#left {
  float: left;
  width: 100%;
}

h1 {
  color: white;
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.skills-bar-container {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}

.skills-bar-container li {
  background: #f4f4f4;
  position: relative;
  width: 100%;
  height: 25px;
  margin-bottom: 20px;
  margin-top: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
}

.skills-bar-container label {
  font-family: $body-font;
  text-transform: uppercase;
  font-size: 14px;
  color: #2a3038;
  position: relative;
  margin-left: 10px;
  margin-top: 14px;
  font-weight: 300;
  z-index: 1;
  line-height: 1.8;
}

.progressbar {
  position: absolute;
  width: 0%;
  height: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 15px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#progress-htmlcss {
  left: 0;
  -webkit-animation-name: progress-htmlcss;
  animation-name: progress-htmlcss;
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}

#progress-jsjq {
  left: 0;
  -webkit-animation-name: progress-jsjq;
  animation-name: progress-jsjq;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

#progress-php {
  left: 0;
  -webkit-animation-name: progress-php;
  animation-name: progress-php;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}

#progress-java {
  left: 0;
  -webkit-animation-name: progress-java;
  animation-name: progress-java;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}

#progress-csharp {
  left: 0;
  -webkit-animation-name: progress-csharp;
  animation-name: progress-csharp;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

#progress-sql {
  left: 0;
  -webkit-animation-name: progress-sql;
  animation-name: progress-sql;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}

.progressblue {
  background-color: #70C1B3;
}

@-webkit-keyframes progress-htmlcss {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@-webkit-keyframes progress-jsjq {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

@-webkit-keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@-webkit-keyframes progress-java {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@-moz-keyframes progress-htmlcss {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@-moz-keyframes progress-jsjq {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

@-moz-keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@-moz-keyframes progress-java {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes progress-htmlcss {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes progress-jsjq {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

@keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes progress-java {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

// Smallest device
@media (max-width: 399px) {

}

// medium device
@media (min-width: 420px) and (max-width: 779px) {
  .wrapper-about {
    margin-top: -15%;
  }
  .title-about, h2, .avatar {
    margin-bottom: 1%;
    p {
      width: 60%;
    }
  }
  // .skills-bar-container {
  //   width: 85%;
  // }
}

// larger device
@media (min-width: 780px) and (max-width: 1023px) {
  .wrapper-about {
    margin-top: -15%;
  }
  .title-about, h2, .avatar {
    margin-bottom: 1%;
    p {
      width: 45%;
    }
  }
  .skills-bar-container {
    width: 65%;
  }
}

// extra-larger device
@media (min-width: 1024px) {
  .wrapper-about {
    margin-top: -15%;
  }
  .title-about, h2, .avatar {
    margin-bottom: 1%;
    p {
      width: 35%;
    }
  }
  .skills-bar-container {
    width: 50%;
  }
}

