@import "components/fonts";

#contact {
  width: 100%;
  height: 100%;
  background-color: white;
  border-top: 1px solid #e2e2e2;
}
.contact-title {
  margin-top: -20%;
  line-height: 1;
  font-size: 20px;
  text-transform: uppercase;
    h1 {
      color: #414042;
    }
}

.contact-wrapper {
  line-height: 1;
  width: 90%;
}

.notice {
  width: 40%;
  margin: 0 auto 2% auto;
  color: #414042;
  font-family: $body-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    img {
      margin-bottom: 3%;
      width: 25px;
    }
}

.form-input, .form-text {
  width: 80%;
  background: #f8f8f8;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  padding: 10px 6px;
  font-size: 16px;
  margin: auto auto 5% auto;
  font-family: $body-font;
}

.form-text {
  padding-bottom: 10%;
  margin-bottom: 2%;
}

.contact-form {
  width: 100%;
  margin: 1% auto 0 auto;

}

.contact-info {
  width: 80%;
  margin: 1% auto 1% auto;
  p {
    font-size: 18px;
    color: #414042;
    font-weight: lighter;
  }
}

.form-btn {
  margin: 1% auto 5% auto;
  font-family: $body-font;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  border: 1px solid #70C1B3;
  border-radius: 8px;
  padding: 8px 15px;
  color: #70C1B3;
  transition: color 0.3s 0.1s ease-out;
  &:hover{
    color: #fff;
    background: #70C1B3;
  }
}
.contact-links {
  line-height: 1;
  width: 55%;
  margin: 1% auto 0 auto;
  display: flex;
  justify-content: space-between;
}
.links {
  font-family: $body-font;
  color: gray;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
    &:hover {
      color: #70C1B3;
    }
}


// Smallest device
@media (max-width: 399px) {

}

// medium device
@media (min-width: 420px) and (max-width: 779px) {
  .contact-form {
    width: 80%;
  }
  .contact-info {
    width: 50%;
  }
}

// larger device
@media (min-width: 780px) and (max-width: 1023px) {
  .contact-form {
    width: 70%;
  }
  .contact-info {
    width: 47%;
  }
}

// extra-larger device
@media (min-width: 1024px) {
  .contact-title {
    margin-top: -3%;
  }
  .contact-info {
    width: 45%;
    margin: 1% auto 1% auto;
    p {
      font-size: 18px;
      color: #414042;
      font-weight: lighter;
    }
  }

  .input-group {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }
  .field_with_errors {
    width: 100%;
  }
  .form-input {
    width: 80%;
  }
  .form-text {
    width: 90%;
  }
  .contact-form {
    width: 60%;
  }
  .contact-links {
    width: 18%;
    margin-top: 0;
  }

}


