@import "components/fonts";

.main {
  width: 100%;
  height: 100vh;
  background-color: #95A3B3;
  // background: linear-gradient(60deg, rgba(25, 40, 128,0.8) 0%, rgba(112, 193, 179,0.8) 100%);
  // background: linear-gradient(to bottom right, rgba(244, 201, 173,0.6), rgba(0,0,0,0)), url('https://images.unsplash.com/photo-1542546068979-b6affb46ea8f?ixlib=rb-1.2.1&auto=format&fit=crop&w=2734&q=80');
  // background-position: fit;
  // background-position: top;
  // background-position: -120%;
  // background-size: cover;
}

.wrapper {
  width: 80%;
  height: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40%;
  background: transparent;
  display: flex;
  flex-direction: column;
  text-align: center;
  }

.name h2{
  color: #f4f4f4;
  margin-bottom: 10px;
  height: auto;
  line-height: 1;
  font-size: 280%;
  font-weight: bolder;
}

.description p {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  color: #f4f4f4;
  line-height: 1.4;
  font-weight: lighter;
  font-size: 150%;
}

//Text scramble
.text{
  font-weight: 100;
  font-size: 20px;
  color: #414042;
}
.dud {
  color: #525154;
}
.text-scramble {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}
//Text scramble

// Waves
.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:250px;
  z-index: 0;
}
.content {
  position:relative;
  height:30vh;
  text-align:center;
  background-color: white;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
// Waves

//Scroll icon:
.container-scroll {
  line-height: 2;
  width: 30%;
  margin-left: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.chevron {
  position: absolute;
  left: 46.5%;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}
.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}
.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #414042;
}
.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}
.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text-scroll {
  display: block;
  line-height: 5;
  // margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #161a1e;
  margin-top: 10px;
  // text-shadow: 1px 0px 1px rgba(0,0,0,0.8);
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

// Smallest device
@media (max-width: 375px) {
  .wrapper {
    height: 55%;
    margin-top: 14vh;
  }
  .chevron {
    left: 47%;
  }
  .name {
    margin-top: 10vh;
  }
}

// medium device
@media (min-width: 420px) and (max-width: 779px) {
  .wrapper {
    height: 55%;
    margin-top: 14vh;
  }
  .chevron {
    left: 47%;
  }
  .name {
    margin-top: 10vh;
  }
}

// larger device
@media (min-width: 780px) and (max-width: 1023px) {
  .wrapper {
    margin-top: 17vh;
    height: 40%;
  }
  .chevron {
    left: 49%;
  }
  .name {
    margin-top: 10vh;
  }
}

// extra-larger device
@media (min-width: 1024px) {
  .wrapper {
    margin-top: 17vh;
    height: 40%;
  }
  .chevron {
    left: 49%;
  }
  .name {
    margin-top: 10vh;
  }
}
