// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @import "components/fonts";
@import "components/social_navbar";
@import "components/project_card";
// @import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';

.container {
  width: 100%;
  height: 100%;
  //CSS smooth scroll
  // overflow-y: scroll;
  // scroll-behavior: smooth;
  // scroll-snap-type: y mandatory;
}


// top navbar:
.navbar {
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(42, 48, 56, 0.5);
  font-family: "Lato", "Helvetica", "sans-serif";
}

.navbar ul {
  // padding-right: 5%;
  display: flex;
  list-style: none;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  align-items: center;
}

.navbar ul li {
  font-size: 90%;
  color: white;
  // margin: auto 1rem auto 1rem;
  &:hover {
    color: #E88584;
    // color: #2a3038;
  }
}

// scrolling items
.scroll-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

section h1 {
  font-size: 30px;
}

// Smallest device
@media (max-width: 399px) {
  .navbar ul li {
    font-size: 75%;
  }
}

// medium device
@media (min-width: 420px) and (max-width: 779px) {
  .navbar ul li {
    font-size: 100%;
  }
  .navbar ul {
    width: 75%;
  }
}

// larger device
@media (min-width: 780px) and (max-width: 1023px) {
  .navbar ul li {
    font-size: 100%;
  }
   .navbar {
    height: 7vh;
  }
  .navbar ul {
    width: 75%;
  }
}

// extra-larger device
@media (min-width: 1024px) {
  .navbar ul li {
    font-size: 100%;
  }
   .navbar {
    height: 7vh;
  }
  .navbar ul {
    width: 65%;
  }
}


// $breakpoints: (phone: 640px,
//                tablet: 768px,
//                desktop: 1024px) !default;

// @media(">phone", "<tablet") {
// }

// @media(">=tablet", "<950px") {

// }

// @media(">tablet", "<950px") {
// }

