// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @import "components/fonts";
@import "components/social_navbar";

.container {
  width: 100%;
  height: 100%;
  //CSS smooth scroll
  // overflow-y: scroll;
  // scroll-behavior: smooth;
  // scroll-snap-type: y mandatory;
}

// top navbar:
.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: transparent;
  font-family: "Lato", "Helvetica", "sans-serif";
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}


// scrolling items
.scroll-item {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;

}

section h1 {
  font-size: 30px;
}

section#home {
  // background: url();
}
